

<launch>
  <!-- Tf publisher -->
  <node name="openrov_tf_publisher" pkg="openrov" type="openrov_tf_publisher">
  </node>
      
  <group ns="minoru">
  
    <node name="stereo" pkg="uvc_camera" type="uvc_stereo_node" output="screen" >
      <param name="right/device" value="/dev/video1" />
      <param name="left/device" value="/dev/video2" />
      <param name="width" value="320" />
      <param name="height" value="240" />
      <param name="fps" value="15" />
      <param name="frame_id" value="minoru_left_link" />
    </node>
 
    <node name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen" >
    </node>
    
  </group>
  
    <!-- <node pkg="openrov" type="openrov_tf_publisher" name="openrov_tf" /> --> 
</launch>
